#back-link {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'bold';
    background-color: #2d55ff;
    padding: 10px 0;
    color: white;
    border-radius: 10px;
}